.list{
    display: flex;
 gap: 12px;
    flex-direction: column;
  
}
.banner{
  width: 100%;
  padding-top: 100%;
  position: relative;

}

.item{
    width: -100%;
    height: 80px;
    
}

.banner, .item{
     background: linear-gradient(-90deg, 
#f1c6a4  0%, #f1c6a5 50%, #f1c6a4 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}


@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}