.columnList{
    display: flex;
 gap: 12px;
    flex-direction: column;
  
}


.rowList{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 12px;

    box-sizing: border-box;
  
}
.banner{
  width: 100%;
  padding-top: 100%;
  position: relative;

}

.item{
    width: 100%;
    height: 80px;
    
}

.banner, .item{
     background: linear-gradient(-90deg, 
#f7eae0  0%, #f1c6a5 50%, #f7eae0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}


@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}